/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.app-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-id {
    font-size: 1rem;
    font-weight: normal;
}

.auth-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #0056b3;
}

.join-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #0056b3;
}

.join-button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.game-area {
    font-family: Arial, sans-serif;
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    margin: 0;
}

.table {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #006400;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#player-offset-0 {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#player-offset-1 {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#player-offset-2 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#player-offset-3 {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.move-history-container {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

#move-history-player-0 {
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
}

#move-history-player-1 {
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

#move-history-player-2 {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#move-history-player-3 {
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.my-cards {
    display: inline-flex;
    gap: 0px;
    justify-content: center;
}

.card {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #000;
    user-select: none;
}

.card.mini {
    width: 20px;
    height: 30px;
    background-color: #fff;
}

.card.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

}

.card.my-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    background-color: #fff;
    transition: transform 0.1s;
    cursor: pointer;
    margin-left: -10px;
}

.card:first-child {
    margin-left: 0;
}

.card.selected {
    transform: translateY(-8px);
}

.black {
    color: black;
}

.red {
    color: red;
}

.dealer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
}

.make-move-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.make-move-button:hover {
    background-color: #0056b3;
}

.move-action-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}